.flex-container {
    display: flex;  
    flex-direction:column  ;    
  }
  
  .item1 {
    margin-right: 5px;     
  }

  .item2
  {

  margin-top:8px;
  font-size: 10px;
  font-weight :200;
  }

   .imagefont{
    width: 60px;
    height: 'auto';
    display: 'flex';
    alignItems: 'center';
    justifyContent: 'center';
    alignSelf: 'center';
    margin: '0 auto';
    padding: '0';
  
}